{% extends 'web/base_main.html' %}

{% block title %}
    tags
{% endblock %}

{% block section %}
    <section class="container container-page">
          <div class="pageside">
            <div class="pagemenus">
              <ul class="pagemenu">
                <li><a href="{{ url_for('web.tags') }}">标签云</a></li>
                <li><a href="{{ url_for('web.readers') }}">读者墙</a></li>
                <li><a href="{{ url_for('web.links') }}">友情链接</a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <header class="article-header">
              <h1 class="article-title">友情链接</h1>
            </header>
            <ul class="plinks">
              <li><a href="http://47.112.15.210/web/home/" title="" target="_blank" rel="nofollow"><img src="/static/web/images/icon/favicon.ico" alt="">杨小迪的博客</a></li>
              <li><a href="https://www.yangqq.com/" title="" target="_blank" rel="nofollow"><img src="/static/web/images/icon/favicon.ico" alt="">杨青的博客</a></li>
              <li><a href="https://www.yangsihan.com/" title="" target="_blank" rel="nofollow"><img src="/static/web/images/icon/favicon.ico" alt="">杨学峰的博客</a></li>
              <li><a href="https://blog.blonglee.me/" title="" target="_blank" rel="nofollow"><img src="/static/web/images/icon/favicon.ico" alt="">盛悦的博客</a></li>
            </ul>
          </div>
    </section>
{% endblock %}



